<div class="container">
	<div class="row">
		<div class="user-show-title">
			<% if @user.id == current_user.id %>
				<h1 style="text-align:center;">マイページ</h1>
			<% else %>
				<h1 style="text-align:center;"><%= @user.name %>さんのページ</h1>
			<% end %>
		</div>
		<div class="col-xs-2"></div>
		<div class="col-xs-4">
			<div class="user-show-image">
				<%= attachment_image_tag @user, :user_image, class: "img-circle", fallback: "no_image.jpg", size:"200x200" %>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="user-show-name" style="font-size:30px; text-align:left;">
				<strong><%= @user.name %></strong>
			</div>
			<div class="user-show-eria" style="font-size:25px;">
				<%= @user.eria_id %>出身
			</div>
			<div class="user-show-introduction" style="font-size:25px;">
				<%= @user.introduction %>
			</div>
			<div class="user-show-linkedit", style="text-align:right;">
				<% if @user.id == current_user.id %>
					<%= link_to "マイページ編集", edit_user_path(@user.id), class:"btn" %>
				<% end %>
			</div>
		</div>
		<div class="col-xs-2"></div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<div class="user-show-posts">
				<div class="col-xs-6">
					<div class="user-show-mypost">
						<%= link_to user_path(@user.id), class:"show_mypost_btn btn-primary", :width => 300 do %>
							<div style="text-align:center;"><%= image_tag 'mypost.jpeg', :height => 30, :width => 30 %></div>
						<% end %>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="user-show-mylike">
						<%= link_to likes_path_url(@user.id), class:"show_mylike_btn btn-primary" do %>
							<div style="text-align:center;"><%= image_tag 'heart.jpeg', :height => 30, :width => 30 %></div>
						<% end %>
					</div>
				</div>
				<div class="user-show-post">
				<% @posts.each do |post| %>
					<%= link_to post_path(post.id) do %>
						<%= attachment_image_tag post, :image, class: "img-square", fallback: "no_image.jpg", size:"200x200" %>
					<% end %>
				<% end %>
				</div>
			</div>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>