<div class="container">
	<div class="row">
		<h1 style="text-align:center;">新規投稿</h1>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<!--投稿（テキスト）-->
			<%= form_with(model:@post, local:true) do |f| %>
				<div class="post-new-eria">
					<h4>エリア</h4>
					<%= f.select :eria_id, Post.eria_ids.keys, {prompt: '選択してください'}, autofocus: true, autocomplete: "eria", class:'btn btn-default' %>
				</div>
				<div class="post-new-scene">
					<h4>利用シーン</h4>
					<%= f.select :scene_id, Post.scene_ids.keys, {prompt:'選択してください'}, autofocus:true, autocomplete:"scene", class:'btn btn-default' %>
				</div>
				<div class="post-new-detail">
					<h4>オススメポイント</h4>
					<%= f.text_field :detail %>
				</div>
		</div>
		<div class="col-xs-5">
			<div class="post-new-image">
				<h4>思い出の一枚</h4>
				<%= f.attachment_field :image %>
			</div>
			<div class="post-new-submit">
				<%= f.submit "投稿", class:"btn btn-block" %>
			</div>
			<% end %>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>