<%= flash[:notice] %>
<div class="container">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">

			<%= attachment_image_tag @post, :image, class: "img-square", fallback: "no_image.jpg", size:"1000x500" %>

			<div class="f-container">
				<div class="post-info">
					<div id="likes_buttons_<%= @post.id %>">
		        		<%= render 'likes/like', post: @post %>
		    		</div>

					コメント<%= @post.comments.count %>件
					<div class="link-post-edit">
						<% if @post.user_id == current_user.id %>
							<%= link_to edit_post_path do %>
								<%= image_tag 'edit.jpeg', :height => 20, :width => 20 %>編集
							<% end %>
						<% end %>
					</div>
					<%= link_to "詳しい場所を確認", maps_path %>
				</div>
			</div>

			<br>
				<%= attachment_image_tag @post.user, :user_image, class: "img-circle", fallback: "no_image.jpg", size:"50x50" %>
			<%= link_to user_path(@post.user.id) do %>
				<%= @post.user.name %>
			<% end %>
			<br>
			<div class="post-content">
				<%= @post.eria_id %>

				<%= @post.title %>

				<%= @post.scene_id %>
			<br>

				<%= @post.detail %>
			</div>


			<div class="row">

					<%= form_with model:[@post, @comment], local: true do |f| %>
					<div class="col-xs-12">
						<%= f.text_area :comment, placeholder:"コメント入力", class:"comment-text-form" %>
						<%= f.submit "コメント送信", class:"submit_btn" %>
					</div>
					<% end %>
			</div>


			<% @post.comments.each do |comment| %>
				<div class="post-show-comment-list">
					<table>
						<tr>
							<td style="text-align:center;">
								<%= attachment_image_tag comment.user, :user_image, class: "img-circle", fallback: "no_image.jpg", size:"50x50" %>
								<br>
								<%= comment.user.name %>
							</td>
							<td><span>　　</span><%= comment.comment %></td>
							<td><% if current_user.id == comment.user_id %>
								<%= link_to "コメント削除", post_comment_path(comment.post_id, comment), method: :delete, class:"btn submit_btn" %>
								<% end %></td>
						</tr>
					</table>
				</div>
			<% end %>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>