<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HurusatoTanken</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/13939d080b.js" crossorigin="anonymous"></script>
    <script src="http://mplus-fonts.sourceforge.jp/"></script>
  </head>

  <body>
    <nav class="navbar" style="height:100px; margin-bottom:10px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p style="margin:10px;"><%= image_tag 'LOGO.jpeg', :height => 85, :width => 85, class:"img-circle" %></p>
         </div>
        <div class="collapse navbar-collapse" id="navbarEexample1">

            <ul class="nav navbar-nav navbar-right" style="margin:30px 0;">
              <% if user_signed_in? %>

                <li><%= link_to posts_path do %><%= image_tag 'home.jpeg', :width => '10', :height => '10' %><strong> HOME</strong><% end %></li>
                <li><%= link_to new_post_path do %><%= image_tag 'add-post.jpeg', :width => '15', :height => '15' %><strong> 投稿</strong><% end %></li>
                <li><%= link_to user_path(current_user) do %><%= image_tag 'mypost.jpeg', :width => '15', :height => '15' %><strong> マイページ</strong><% end %></li>
                <li><%= link_to destroy_user_session_path, method: :delete do %><%= image_tag 'logout.jpeg', :width => '15', :height => '15' %><strong> ログアウト</strong><% end %></li>

              <% else %>

                <li><%= link_to top_path_url do %><%= image_tag 'home.jpeg', :width => '15', :height => '15' %><strong> HOME</strong><% end %></li>
                <li><%= link_to home_about_path do %><%= image_tag 'about.jpeg', :width => '15', :height => '15' %><strong> ABOUT</strong><% end %></li>
                <li><%= link_to new_user_registration_path do %><%= image_tag 'new.jpeg', :width => '15', :height => '15' %><strong> 利用登録</strong><% end %></li>
                <li><%= link_to new_user_session_path do %><%= image_tag 'login.jpeg', :width => '15', :height => '15' %><strong> ログイン</strong><% end %></li>

              <% end %>
            </ul>
        </div>
      </div>
   </nav>
    <%= yield %>
  </body>
</html>
